<html lang='en'>

<body>

	<header>
		<% include ../partials/header %>
	</header>

	<section>
		<h2> It's almost like we planned this... </h2>
		<p> The finest of about pages.  Maybe one day it will tell you about things. </p>
	</section>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>