<html lang='en'>

<body>

	<header>
		<% include ../partials/header %>
	</header>

	<section>
		<h1> Yeap, we done did it </h1>
		<p> This is my super impressive index/home page.  Isn't life grand? </p>
	</section>

	<section>
		<h2> Reasons I'm not a terrible guy... </h2>
	</section>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>